{% extends "base.html.twig" %}
{% block title %}{{title}}{% endblock %}
{% block body %}
{% include "header.html.twig" %}
    <div class="container">
    <h1>HomePage</h1>
</div>
{% include "footer.html.twig" %}
{% endblock %}
